html,body{
    height: 100%;
    width: 100%;
}

.home{
    display: flex !important;
    min-height: calc(100vh - 3.6rem);
    flex-direction: column;
    justify-content: space-between;
}

.home .features {
    text-align: center;
}

.hero {
    margin: 3rem auto 0;
}